<select class="form-control" name="status">
	{% for option in optionList %}
		<option value="{{option}}" {% if option is same as(task.status) %} selected="selected" {% endif %}>{{option}}</option> 
	{% endfor %}
</select>
{# <select class="form-control" name="">
	{% for handler in handlerList %}
		<option value="{{handler}}" {% if handler is same as(task.) %} selected="selected" {% endif %}>{{handler}}</option> 
	{% endfor %}
</select> #}