{% extends 'base.twig' %}

{% block content %}
	<div class="container">
		<h3>Update A Task</h3>
	</div>
	<form method="POST">
		<div class="mb-3">
			<input type="text" class="form-control" placeholder="Title" name="title">
		</div>

		<div class="mb-3">
			<select class="form-control" name="status">
				<option value="In Progress">In progress</option>
				<option value="Done">Done</option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary">valider</button>
	</form>

{% endblock %}
